.body {
    background-color: #D2DBD8;
}

a {
    color: #21201E !important;
}
.coin_info_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.coin_details_wrapper {
    width: 50rem;
}
.title {
    text-align: center;
    font-size: 2.5rem !important;
    font-weight: 400 !important;
    padding-bottom: 4rem;
    padding-top: 8rem;
    position: relative;
}
.title::after {
    content: '';
    position: absolute;
    background: #6FD691;
    top: 11.8rem;
    right: 49%;
    height: 0.3rem;
    width: 5%;
    border-radius: 1rem;
}
.coinImg{
    height: 2.5rem;
    width: 2.5rem;
}
.table {
    margin: 1rem 3rem;
    padding-bottom: 2rem;
}
.tableBttn {
    background-color: #6FD691 !important;
    border: 1px solid  #6FD691!important;
    color: #21201E !important; 
}
th {
    background-color: #6FD691 !important;
    font-size: 0.8rem;
}

/* Single Coin Style */
.singleCoinImg {
    height: 200px;
    margin: 8rem 0 0 6rem;
    padding-bottom: 2.5rem;

}
.coinName {
    font-size: 3rem;
    padding-top: 10rem;
    margin: 0 0 0 5rem;
}
.coinRank {
    font-size: 1.3rem;
    margin: 2rem 0 0 5rem;
}
.coinPrice {
    font-size: 1.1rem;
    margin: 0.5rem 0 0 5rem;
}
.coinDesc {
    font-size: 1.1rem;
    margin: 1.5rem 0 0 5rem;
    line-height: 2;
}
.coinInfoBody {
    background-color: #D2DBD8;
    height: 100vh;
    padding-top: 6rem;
}
.coinInfoLoader {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
/* Media Queries */
@media all and (max-width: 500px) {
    .title {
        text-align: center;
        font-size: 2rem !important;
        font-weight: 400 !important;
        padding-bottom: 4rem;
        position: relative;
    }
    .title::after {
        content: '';
        position: absolute;
        background: #6FD691;
        top: 11rem;
        right: 45%;
        width: 10%;
        border-radius: 1rem;
    }

    .singleCoinImg {
        height: 200px;
        margin: 6rem 0 0 1rem;
    
    }
    .coinName {
        font-size: 2.5rem;
        padding-top: 3rem;
        margin-left: 1rem;
    }
    .coinRank {
        font-size: 1rem;
        margin: 2rem 0 0 1rem;
    }
    .coinPrice {
        font-size: 1rem;
        margin: 0.5rem 0 0 1rem;
    }
    .coinDesc {
        font-size: 0.9rem;
        margin: 1.5rem 1rem 0 1rem;
        line-height: 2;
    }
    .coin_info_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .coin_details_wrapper {
        width: 40rem;
    }
}