.navbar{
    background-color: #D2DBD8;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    width: auto;
}
.ul > li{
    text-align: start;
    list-style: none;
    padding-top: 1.2rem;
    font-size: 1.1rem;
    color: #21201E;
    font-weight: 500;
}
.span {
    color: #19b84eea;
}