.navbar{
    background-color: #D2DBD8;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}
.ul > li{
    text-align: start;
    list-style: none;
    padding-top: 1.2rem;
    font-size: 1.1rem;
    color: #21201E;
    font-weight: 500;
    cursor: pointer;
}
.span {
    color: #19b84eea;
}

.selectDiv{
    display: flex !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    margin: 2rem 4rem;
}
.selectDiv > select{
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    border: 1px solid #6FD691;
    border-radius: 0.3rem;
    outline: none;
}
