.body {
    padding-top: 17rem;
    background-color: #D2DBD8;
}
.carouselTitle {
    text-align: center;
    font-size: 2.5rem;
    text-shadow: -3px 1px 0px rgba(111, 214, 145, 1);
}
/* Carousel Card */
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 150%;
    width: 150%;
    margin: 8rem 0 2rem 0;
}
.cardImg {
    height: 150px !important;
    width: 150px !important;
}
.cardBody {
    cursor: pointer;
    border-radius: 0.6rem;
    background-color: #DADCE0;
    padding: 1.5rem;
    -webkit-box-shadow: 1px 11px 7px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 11px 7px -4px rgba(66, 68, 90, 1);
    box-shadow: 1px 11px 7px -4px rgba(66, 68, 90, 1);
    transition: 0.3s ease-in-out;
}
.cardBody:hover {
transform: scale(1.1);
}
.cardPriceChange {
    text-align: center;
}
.cardPrice{
    text-align: center;
}
/* Media Queries */
@media all and (max-width:500px) {
    .carouselTitle {
        text-align: center;
        font-size: 2rem;

    }
}