.body {
    padding-top: 17rem;
    background-color: #D2DBD8;
}
.carouselTitle {
    text-align: center;
    font-size: 2.5rem;  
    margin-bottom: 6rem;
    position: relative;
    font-weight: 400;
}
.carouselTitle::after {
    content: '';
    position: absolute;
    background: #6FD691;
    top:3.8rem;
    right: 47%;
    height: 0.3rem;
    width: 5%;
    border-radius: 1rem;
}
/* Carousel Card */
.card {
    height:60%;
    display: flex;
    align-items: center;
    margin: 8rem 0 3rem 0;
}
.cardCoinName {
    font-size: 1.1rem;
    padding-top: 1rem;
}
.cardImg {
    height: 100px;
    margin-bottom: 10px;
}
.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 0.6rem;
    background-color: #DADCE0;
    padding: 1.5rem;
    -webkit-box-shadow: 1px 11px 7px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 11px 7px -4px rgba(66, 68, 90, 1);
    box-shadow: 1px 11px 7px -4px rgba(66, 68, 90, 1);
    transition: 0.3s ease-in-out;
    width: 40%;
    margin-bottom: 3rem;
    margin-top: 1.7rem;
}
.cardBody:hover {
    transform: scale(1.1);
}
.cardPriceChange {
    text-align: center;
    margin-top: 1rem;
}
.cardPrice{
    text-align: center;
    margin-top: 1rem;
}
/* Media Queries */
@media all and (max-width:500px) {
    .body {
        padding-top: 8rem;
        background-color: #D2DBD8;
    }
    .carouselTitle {
        text-align: center;
        font-size: 2rem;
        position: relative;
        font-weight: 400;
    }
    .carouselTitle::after {
        content: '';
        position: absolute;
        background: #6FD691;
        top:3rem;
        right: 47%;
        height: 0.3rem;
        width: 10%;
        border-radius: 1rem;
    }
    .card {
        height:60%;
        display: flex;
        align-items: center;
        margin: 8rem 0 3rem 0;
    }
    .cardImg {
        height: 50px;
        margin-bottom: 10px;
    }
    .cardBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        border-radius: 0.6rem;
        background-color: #DADCE0;
        padding: 1.5rem;
        -webkit-box-shadow: 1px 11px 7px -4px rgba(66, 68, 90, 1);
        -moz-box-shadow: 1px 11px 7px -4px rgba(66, 68, 90, 1);
        box-shadow: 1px 11px 7px -4px rgba(66, 68, 90, 1);
        transition: 0.3s ease-in-out;
        width: 50%;
        margin-right: 3rem !important;
    }
    .cardCoinName {
        font-size: 0.9rem;
        padding-top: 1rem;
    }
}